<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<!--    <parameter name="val1" value="25"></parameter>-->
<!--    <parameter name="val2" value="15"></parameter>-->
    <test verbose="2" preserve-order="true" name="/Users/vinothsubrama.laksh/eclipse-workspace/Testdemo">
<!--    <test verbose="2" preserve-order="true" name="/Users/vinothsubrama.laksh/eclipse-workspace/Testdemo/src/test/java/ParametersDemo.java">-->

<!--    <test name="GroupsDemo">-->

<!--    <groups>-->
<!--            <run>-->
<!--                <include name="Fruits"/>-->
<!--            </run>-->
<!--        </groups>-->
        <classes>
            <class name="Test123">
            </class>
        </classes>
    </test>
</suite>
